/* for all */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #538392;
    /*blue */
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.section {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    /* White */
}

.nav-title a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    /* White */
}

/* my bio */
.bio_button {
    background: #DAD4B5;
    color: rgba(0, 0, 0, 0.57);
    border-radius: 1px;
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    border: 0;
    padding: 0.75% 3.25%;
    margin-bottom: 2%;
    display: block;
    margin: 0 auto;
    /* Center button horizontally */
}

.bio_button:hover {
    background-color: none;
    border: 2px dashed salmon;
}

.bio_button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.57);
}

.bio_text {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-align: justify;
    /* Center text alignment */
    color: #FFFFFF;
    margin-bottom: 3%;
    max-width: 100%;
}

.bio_img img {
    width: 250px;
    border-radius: 50%;
}

.bio_head {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    line-height: 54px;
    letter-spacing: 0.245em;
    color: #FFFFFF;
    margin-bottom: 2%;
}


/* Project Box*/

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 6%; 
    background-color: #F5F5F5;
    /* Light background color */
}

.about_me {
    text-align: center;
    max-width: 800px;
    margin-bottom: 40px;
}

.about_me img {
    width: 250px;
    /* Adjust based on preference */
    border-radius: 50%;
    margin-bottom: 20px;
}

.about_me_header {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    /* Darker color for header */
}

.about_me_text {
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    text-align: justify;
}

.home_box {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home_box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.home_box_description {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

.home_box_button,
.project_button {
    display: inline-block;
    background-color: #6295A2;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.home_box_button:hover,
.project_button:hover {
    background-color: #507a8f;
}

/* social media icons */
.social_media_box {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.social_media_icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social_media_icons img {
    width: 40px;
    /* Adjust based on preference */
    height: 40px;
}

/* Portfolio Page */

.portfolio_heading {
    text-align: center;
    color: #538392;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    /* Adjust as needed */
}

.portfolio_container {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next line */
    justify-content: center;
    padding: 4% 6%;
    background-color: #F5F5F5;
    /* Light background color */
}

.portfolio_box {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 20px;
    width: calc(50% - 20px);
    /* Adjust width to fit two items per row with margin */
    margin: 10px;
    /* Add margin to create space between items */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio_box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.portfolio_title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    /* Darker color for title */
}

.portfolio_description {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    text-align: justify;
    margin-bottom: 20px;
}

.view_project_button {
    display: inline-block;
    background-color: #6295A2;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.view_project_button:hover {
    background-color: #507a8f;
}


/* Contact Page */
.contact_page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Ensure the box is vertically centered */
    padding: 50px 20px;
}

.contact_box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.contact_header {
    font-size: 32px;
    margin-bottom: 20px;
    color: #1a237e;
}

.contact_info {
    text-align: justify;
    font-size: 20px;
    line-height: 1.8;
    color: #333;
}

.contact_info p {
    margin-bottom: 20px;
}

.social_icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.social_icons a {
    display: inline-block;
    width: 40px; /* Adjust based on preference */
    height: 40px;
}

.social_icons img {
    width: 100%;
    height: auto;
}

/* footer_part */
.footer_part {
    display: flex;
    gap: 2%;
    background-image: linear-gradient(to top, #6295A2, #ffffff);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}

.footer_part img {
    width: 15%;
}

.image_1 {
    margin-bottom: 10%;
}

.image_2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_3 {
    margin-top: 10%;
}

.image_4 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_5 {
    margin-bottom: 10%;
}

.footer_head {
    font-family: 'Pattaya';
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 0.245em;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 2%;
    margin-bottom: 0%;
    padding-top: 2%;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    margin-bottom: 2%;
}

footer p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
}

.contact {
    background: #6295A2;
    color: rgba(0, 0, 0, 0.57);
    border-radius: 1px;
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    border: 0;
    padding: 0.75% 3.25%;
    margin-bottom: 2%;
    display: block;
    margin: 0 auto;
    /* Center button horizontally */
}

.rights_reserved p {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: 100;
    font-size: 14px;
    padding: 0.5%;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {

    .home_box,
    .portfolio_box,
    .social_media_box {
        max-width: 100%;
        margin: 10px;
    }

    .about_me_header {
        font-size: 28px;
    }

    .about_me_text {
        font-size: 18px;
    }

    .home_box_description,
    .portfolio_description {
        font-size: 16px;
    }

    .home_box_button,
    .project_button {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {

    .home_box,
    .portfolio_box,
    .social_media_box {
        padding: 15px;
    }

    .about_me_header {
        font-size: 24px;
    }

    .about_me_text {
        font-size: 16px;
    }

    .home_box_description,
    .portfolio_description {
        font-size: 14px;
    }

    .home_box_button,
    .project_button {
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .about_me img {
        width: 150px;
    }

    .home_box img,
    .portfolio_box img {
        width: 100%;
    }
}
